body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.landing-container {
    background-image: url(bible\ 1.jpg);
    background-size: cover;
}

header {
    background: transparent;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    width: 80%;
    position: relative;
    margin-left: 10%;
    color: white;
}

h3 {
    margin: 0;
    margin-right: 30%;
    font-size: 2em;
    display: inline-block;
}

/* #333 #666 */


nav {
    float: right;
    margin-top: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
}

h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color: black;
}

hr {
    width: 20%;
}
.hero h2 {
    color: white;
}
.hero {
    padding: 100px 20px;
    color: white;
    text-align: center;
}

.services,
.portfolio {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
}

.color-blocks {
    margin: 20px 0;
}
.color-blocks div {
    display: inline-block;
}
.color-block {
    width: 100px;
    height: 100px;
    margin: 0 10px;
}

.portfolio-grid {
    padding: 20px;
}

.portfolio-grid div {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 5px 15px;
    background-color: #eee;
}

